#home {
	.theme-selection {
		padding: 50px 50px 20px;
		p.theme-intro {
			font-size: 1.5rem;
			margin: 15px;
			.center();
		}
		.radios { }
	}

	.map {
		.flexrow();

		#reso-map {
			height: 400px;
			width: 900px;
			border-radius: 2px;

			& > div {
				filter: saturate(10%);
			}
		}
	}

	.options {
		.center();
		p.question {
			font-size: 1.5rem;
		}

		.available-time,
		.latest-hour,
		.travelling-option,
		.notify {
			margin: 40px;
		}

		.available-time,
		.latest-hour {
			.range-with-captions {
				.flexrow();
				.flexcenter();

				p {
					margin: 5px;
				}
			}
		}
		.travelling-option {

		}
		.notify {
			.radios { }
			.chosen {
				input.notify-email {

				}
			}
			p.privacy-note {
				color: @grey-50;
			}
		}
	}

	.submit {
		.flexrow();
		margin: 20px;
	}

	p.additional-note {
		.center();
		color: @grey-50;
		width: 30%;
		font-size: 0.9rem;
		margin: auto auto 50px;
	}

}