<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'/>
	<title>Resolunch</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	
	<!-- Stylesheets -->
	<link rel='stylesheet' type='text/less' href="less/main.less" />
	<link rel='stylesheet' type='text/css' href="css/ie-fallback.css" />

	<!-- Only script in header: less on-the-fly compiler -->
	<script type='text/javascript' src="node_modules/less/dist/less.min.js"></script>
	
</head>
<body>

<div id="resolunch-web">
	<!-- Top header -->
	<div class="header">
		<div class="central">
			<div class="logo">
				<div class="resologo" v-bind:style="'filter: hue-rotate(' +  mainHue + 'deg);'">
					<div class="hexagon">
						<div class="hex1">
							<div class="hex2">
								<div class="content">

								</div>
							</div>
						</div>
					</div>
					<div class="border">
						<img src="img/website/resologo.svg" />
					</div>
				</div>
			</div>
			<div class="intro">
				<h1>Resolunch</h1>
				<p class="subtitle">Incredible lunches with creative people</p>
				<p class="subtitle-2">A free and anonymous platform</p>
			</div>

		</div>
		<div class="actions">
			<p>Login</p>
		</div>
	</div>

	<!-- Menu -->
	<div class="menu">

	</div>

	<div class="core">
		<router-view></router-view>
	</div>

	<div class="footer">
		<p class="click-and-hue">Resolunch</p>
		<p class="version">@2018</p>
	</div>
</div>

<!-- View templates -->
<template id="home-template">
	<div id="home">
		<!-- Theme radios -->
		<div class="theme-selection">
			<p class="theme-intro">What would like to lunch about today?</p>
			<div class="radios">
				<p class="radio"
				   v-on:click="changeActiveTheme(index)"
				   v-for="(theme, index) in themes"
				   :class="[index === activeThemeIndex ? 'active' : '', theme]">
					<span class="far" :class="[index === activeThemeIndex ? 'fa-dot-circle' : 'fa-circle']"></span> {{ themes[index].replace('-', ' ') }}
				</p>
			</div>
		</div>

		<!-- Le map -->
		<div class="map">
			<reso-map v-bind:style="'box-shadow: hsla(' +  resoHue + ', 60%, 50%, 0.9) 0 0 20px;'"></reso-map>
		</div>
		<p class="question">Where would you rather have your lunch?</p>

		<div class="options">

			<div class="available-time">
				<p class="question">Up to how much lunch time can you have?</p>
				<div class="range-with-captions">
					<input type="number" value="90" min="40" max="120" step="5" v-model="availableTime"/>
					<p>minutes</p>
				</div>
			</div>

			<div class="latest-hour">
				<p class="question">When is the latest you can get back to what you were doing (e.g. working)?</p>
				<div class="range-with-captions">
					<p>1pm</p>
					<!-- Hours after noon -->
					<input type="range" value="120" min="60" max="180" step="5" v-model="latestHour"/>
					<p>3pm</p>
				</div>
				<div class="range-input-result">
					<p>{{ latestHour | latestHourAfterNoon }}</p>
				</div>
			</div>

			<div class="travelling-option">
				<p class="question">You are travelling</p>
				<select class="travel" v-model="travelOption">
					<option v-for="option in travelOptions" v-bind:value="option.value">
						{{ option.text }}
					</option>
				</select>
			</div>

			<!-- Notification preferences -->
			<div class="notify">
				<p class="question">How can we notify you when we find your lunch?</p>
				<div class="radios">
					<p class="radio active"><span class="far fa-dot-circle"></span> email</p>
					<p class="radio disabled"><span class="far fa-circle"></span> text message</p>
					<p class="radio disabled"><span class="far fa-circle"></span> push notification</p>
				</div>
				<div class="chosen">
					<label for="notify-email">Your email: </label><input id="notify-email" type="email" />
				</div>
				<!-- Privacy note -->
				<p class="privacy-note">
					<br/>
					Note: Resolunch is all about privacy, we will never share your personal data.
					<br/>
					More about <a class="underline" href="#">absolute privacy on Resolunch</a>
					<br/>
				</p>
			</div>
		</div>


		<!-- Submit -->
		<div class="submit">
			<button class="reso-btn">Find me a lunch</button>
		</div>

		<!-- Additional note -->
		<p class="additional-note">Once you recieve a lunch opportunity, you will have until 10am the following day to confirm or cancel your venue.</p>

	</div>
</template>

<template id="reso-map-template">
	<div id="reso-map">

	</div>
</template>

<!-- IE fallback -->
<div id="ie-fallback">
	<img width="150" height="150" src='img/website/triangorot.svg' />
	<p>This website works best on modern browsers.<br/>Please don't use Internet Explorer and download <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>

	<p>Thanks!</p>
</div>

<!-- Libs -->
<script type='text/javascript' src="node_modules/vue/dist/vue.min.js"></script>
<!--<script type='text/javascript' src="node_modules/vue/dist/vue.js"></script>-->
<script type='text/javascript' src="node_modules/vue-router/dist/vue-router.min.js"></script>
<script type='text/javascript' src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- Gmaps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUD_84n9vBr5CM0RGokCgft6KYqY0OwHs&callback=globalMapInit"
		async defer></script>


<!-- Ours -->
<script type='text/javascript' src="js/utils.js"></script>
<script type='text/javascript' src="js/jAntispam.js"></script>
<!-- Components, then main -->
<script type="text/javascript">
    // Create bus to manage events between components
    var bus = new Vue({});
</script>
<script type='text/javascript' src="services/signupService.js"></script>
<script type='text/javascript' src="components/home.js"></script>
<script type='text/javascript' src="components/map.js"></script>
<script type='text/javascript' src="js/main.js"></script>

</body>
</html>
